
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.youtube-video {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  margin-top: 70px;
  gap: 15px;
  border-top: 1px solid#d9d9d9;
  padding-top: 20px;
  background-color:#f9f9f9;
  padding-left: 20px;
}
.pic{
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.thumb {
  width: 300px;
  height: 150px;
}
.option{
  width: 80px;
  height: 80px;
  font-size: 10px;
  border: none;
  background-color: white;
}
.content {
  display: flex;
  margin-top: 10px;
}
.paragraph{
  margin-top: 0px;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.paragraph-2,
.paragraph-1{
  margin-left: 50px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: rgb(126, 121, 121);
  margin-top: 0px;
}
.paragraph-22,
.paragraph-11{
  margin-left: 10px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: rgb(126, 121, 121);
}
.main{
  display: flex;
}
.icon,
.center-search-logo,
.center-mic-logo,
.notification-icon,
.menu-icon{
  width: 24px;
  height: 24px;
}
.logo{
  height: 64px;
  width: 100px;
}
.left-place,
.center,
.right-place {
  display: flex;
}
.right-place {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu{
  margin-left: 10px;
}
.search-button{
  height: 40px;
  width: 400px;
  display: flex;
  justify-content: left;
  align-items: center;
  border: 1px solid #d3d3d3;
  box-shadow: 2px;
  background-color: white;
}
.search-logo{
  height: 40px;
  width: 72px;
  border: 1px solid grey;
  opacity: 0.5;
}
.mic-logo{
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 20px;
  opacity: 0.5;
  margin-left:7px;
}
.header{
  display: grid;
  grid-template-columns: 0.7fr 5.3fr 1.5fr;
  margin-top: 0px;
  border-top: 1px solid #d9d9d9;
  position: fixed;
  background-color: white;
}
.profile-icon{
  height: 40px;
  width: 40px;
  border-radius: 20px;
}
.paragraph-3{
  position: absolute;
  background-color: black;
  color: white;
  margin-top: -135px;
  margin-left: 260px;
}
.text-noti{
  position: absolute;
  background-color: rgb(170, 23, 23);
  border: none;
  width: 14px;
  height: 14px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  top: 18px;
  margin-left: 10px;
}
.noti{
  font-size: 8px;
  color: white;
}
